body {
    margin: 0;
    padding: 0;
    width: 1520px;
    height: 1406px;
}

h1 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

#logo img{
    width: 158px;
    height: 71px;
    position: absolute;
    left: 40px;
    top: 20px;
}

#duck img{
    width: 135px;
    height: 87px;
    position: absolute;
    left: -10px;
}

#container {
    font-family: "Montserrat", sans-serif;
    width: 1410px;
    height: 1406px;
    margin-left: 110px;
}

#site_view {
    background-image: url("../img/bachground.png");
    height: 1406px;
}

#sidebar {
    background: #22b6f5f6;
    float: left;
    min-width: 110px;
    min-height: 1406px;
    opacity: 70%;
}

#chart_bar {
    display: inline-block;
    width: 40%;
    height: 40%;
    text-align: center;
    font-size: x-large;
}

#value_bar{
    width: 100%;
    height: 100%;
}

#forms {
    position: absolute;
    display: inline-block;
    width: 846px;
    height: 500px;
}

#forms form {
    margin-left: 15%;
    margin-top: 15%;
}

.data {
    font-size: larger;
}

.data input {
    background-color: rgb(255, 220, 128);
    margin-bottom: 20px;
    border-radius: 4px;
    border-width: 1px;
    width: 533px;
    font-size: large;
    height: 30px;

}

.data button{
    margin-right: 6px;
    font-size: larger;
    height: 40px;
    width: 50px;
    background-color: #b88fff;
    border-radius: 4px;
    border-width: 1px;
    margin-bottom: 20px;
}

.data button:disabled {
    background-color: rebeccapurple;
    color: white;
}


input#submit {
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-left: 64%;
    background-color: #b88fff;
    border-width: 1px;
    border-radius: 6px;
    height: 40px;
    width: 100px;
}

input#submit:hover {
    background-color: #5851DB;
}

input#submit:disabled {
    background-color: #b88fff;
}


#header {
    display: flex;
    min-height: 90px;
    padding: 8px 50px;
    background-color: #02f;
    background-image: url("../img/hat.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header__title {
    margin-left: 49%;
    text-transform: uppercase;
    color: #fff;
    align-self: center;
}

